*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:
linear-gradient(rgba(0,0,0,0.75),
rgba(0,0,0,0.75)),
url('../images/hero.jpg');

background-size:cover;
background-position:center;
background-repeat:no-repeat;
}

/* CONTAINER */

.register-box{

width:420px;

background:rgba(10,10,10,0.92);

padding:55px 45px;

border-radius:35px;

backdrop-filter:blur(12px);

box-shadow:
0 10px 40px rgba(0,0,0,0.45);
}

/* TITLE */

.register-box h1{

font-size:42px;

color:#d9a441;

text-align:center;

margin-bottom:10px;

font-weight:700;
}

.register-box p{

text-align:center;

color:#aaa;

margin-bottom:35px;

line-height:1.7;
}

/* INPUT */

.input-group{

margin-bottom:22px;
}

.input-group input{

width:100%;

padding:18px 20px;

border:none;

outline:none;

border-radius:16px;

background:#1f1f1f;

color:white;

font-size:15px;
}

.input-group input:focus{

border:1px solid #d9a441;
}

/* BUTTON */

.register-btn{

width:100%;

padding:18px;

border:none;

border-radius:16px;

background:#d9a441;

color:white;

font-size:17px;

font-weight:600;

cursor:pointer;

transition:0.3s;

margin-top:10px;
}

.register-btn:hover{

background:#c89222;

transform:translateY(-4px);
}

/* LINK */

.login-link{

margin-top:28px;

text-align:center;

color:#aaa;
}

.login-link a{

color:#d9a441;

text-decoration:none;

font-weight:600;
}

/* ALERT */

.alert{

padding:15px;

border-radius:12px;

margin-bottom:20px;

font-size:14px;
}

.alert-success{

background:#1f3d2a;

color:#6ee7a8;
}

.alert-error{

background:#3d1f1f;

color:#ff9b9b;
}